<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Switch requests per client</title>
	<script src="../Scriber.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="screen">
	body {
		text-align:center;
		width: 70%;
		margin-left:auto;
		margin-right:auto;
	}
	div {
		border: 1px solid grey;
		margin-left:auto;
		margin-right:auto;
		margin-top:25px;
	}
	small em {
		margin-top: 5px;
	}
	table {
		width: 100%;
	}
	th {
		font-size:120%;
	}

	form {
		border: 2px solid brown;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		}
</style>
</head>
<body>
	<h1>Live Switch Request Feed</h1>
	<p>This example demonstrates server-side filtering. When you select a filter in the text box below, only messages corresponding switch requests from that client are sent to your browser.</p>
	<p>Also demonstrated is the <em>replay</em> feature: whenever you first subscribe, the latest data (if there is any) is immediately pushed to you. </p>
	<form>
		<span>Filter by client code (wildcards allowed, case-sensitive):</span><input id='client-name' value='*' /><button onclick="filterSubs(event);">Filter</button>
	</form>
	<div>
		<h2>Switch Requests</h2>
		<table>
			<thead>
				<tr><th>Client</th><th>Site</th><th>Load</th><th>Timestamp</th><th>Type</th></th>
			</thead>
			<tbody id='swr-list'>
			</tbody>
		</table>
	</div>
	<small><em id="status">Connecting to Scriber cluster...</em></small>
	<script type="text/javascript">	
	var foundFeed = false; //Set to true when we've found a switch request feed
	var currentSubscription = 'switchRequests.*';
	var list_fragment = '<tr><td><strong>{{CLIENT}}</strong></td><td>{{SITE}}</td><td>{{LOAD}}</td><td>{{TIMESTAMP}}</td><td>{{TYPE}}</td></tr>';

	//Set status text (connecting, error, etc)
	function setStatus(txt) {
		document.getElementById('status').innerHTML = txt;
	}

	//Optional debugging information
	OEScriber.onConnectionError(function(url, err) {
		setStatus('Error: ' + err.message);
	});

	OEScriber.onClose(function(url) {
		setStatus('Connection to ' + url + ' closed!');
	});

	//Global callbacks
	//----------------

	//Callback we will use to process messages
	var process_msg = function(data, topic) {
					for (var i=0; i<data.length; i++) {
						document.getElementById('swr-list').innerHTML = list_fragment.replace('{{CLIENT}}', data[i][0])
																				.replace('{{SITE}}', data[i][1])
																				.replace('{{LOAD}}', data[i][2])
																				.replace('{{TIMESTAMP}}', data[i][3])
																				.replace('{{TYPE}}', data[i][4])
																		+ document.getElementById('swr-list').innerHTML;
					};
		};

	//Callback we will use to process errors
	var process_err = function(err) {
					setStatus('Error subscribing to feed ' + err.message);
				};

	//Callback when the 'filter' button is clicked
	function filterSubs(event) {
		document.getElementById('swr-list').innerHTML = ''; //Clear current table
		OEScriber.unsubscribe(currentSubscription); //Unsubscribe from previous filter
		currentSubscription = 'switchRequests.' + document.getElementById("client-name").value; //Update current subscription variable
		OEScriber.subscribe(currentSubscription, process_msg, process_err); //Subscribe to new filter
		event.preventDefault(); //Necessary for Chrome *not* to reload page
		return false; //Prevent page reloading
	}

	//Startup code
	//------------
	//Wait for Scriber to find frequency feed and subscribe to it when it is available
	OEScriber.onNewTopic(function(topic) {
		console.log('Discovered new topic: ' + topic);
		if (topic == 'switchRequests') {
				//subscribe method is idempotent so nothing bad happens if multiple frequency feeds
				//are found and we subscribe multiple times
				foundFeed = true;
				setStatus('Subscribed to switch request feed. Waiting for events...');
				OEScriber.subscribe('switchRequests.*', process_msg, process_err);
		}
	});

	//Connect to broker
	OEScriber.connect({
		success: function() {
			//success if executed on successful connection to one or more publishers
			setStatus('Connected to cluster! Looking for switch request feed...');
			setInterval(function() {
				//Notify user if we don't discover a feed after 5 seconds
				if (!foundFeed) {
					setStatus('Have not discovered a switch request feed - maybe it is not being currently published.');
				}
			}, 5000);
			},
		error: function(err) {
			//executed if connection to broker fails
			setStatus('Error connecting to Scriber cluster: ' + err.message);
			}
	});
	</script>
</body>
</html>